[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "config/nvim/lua-language-server"]
	path = config/nvim/lua-language-server
	url = https://github.com/sumneko/lua-language-server
[submodule "config/nvim/elixir-language-server"]
	path = config/nvim/elixir-language-server
	url = https://github.com/elixir-lsp/elixir-ls.git
	ignore = dirty
